<html>
    <title>
Home
    </title>
<head>
    <link rel="stylesheet" href="/assets/home.css">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Noto Serif">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto Slab">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Solway">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<title>Covid19</title>
<body>

    <nav class="navbar navbar-expand-lg  bg-llight">
        <a class="navbar-brand" href="#"><img src="/assets/COVID19.jpg" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="mynavbar-toggler-icon">
            <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>
          </span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#home">Steps</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#social">Social Distancing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#helpline">HelpLine</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/finder">Virus Count</a>
              </li>
            </ul>
            </div> 
      </nav>
    
<div class="jumbotronn" >
	<div class="container">
	<h1>Stay Home. Stay Safe.<br></h1>
</div>
</div>


<div class="icons">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="/assets//a.jpg" class="body-image">
				<h2 id="uu">Social Distancing</h2>
				<p>Maintain atleast 1m distance</p>
</div>
<div class="col-md-4">
				<img src="/assets/a2.jpg" class="body-image">
				<h2 id="uu">Follow Rules</h2>
				<p>Follow all the rules and guidelines</p>
</div>
<div class="col-md-4">
				<img src="/assets/a3.jfif" class="body-image">
				<h2 id="uu">Wear Masks</h2>
				<p>Wear proper masks and follow sanitization</p>
</div>
</div>
</div>
</div>
<section id="home">
    <h2 id="uu">
        Steps to Follow
    </h2>
    <p>
       1. Avoid close contact with people who are sick.</p>
       <p>2. Maintain at least three feet distance between yourself and anyone who is coughing or sneezing.</p>
<p>3. Avoid touching your eyes, nose, and mouth.</p>
<p>4. Stay home when you are sick.</p>
<p>5. Cover your cough or sneeze with a tissue, then dispose of the tissue safely.</p>
<p>6. Clean and disinfect frequently-touched objects and surfaces using a regular household cleaning spray or wipe.</p>
<p>7. Wearing a mask is not necessary unless you are taking care of an infected person. The Centers for Disease Control (CDC) does recommend that only infected people wear masks to prevent the spread of the virus.</p>
<p>8. Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom, before eating, and after blowing your nose, coughing, or sneezing.</p>
<p>9. If soap and water are not readily available, use an alcohol-based hand sanitiser with at least 60% alcohol.</p>
<p>10. If you have a fever, cough and difficulty breathing, seek medical attention immediately.</p>


</section>
<section id="social">

    <h2 id="uu">Social Distancing</h2>
    <p>    Social distancing is a public health practice that aims to prevent sick people from coming in close contact with healthy people in order to reduce opportunities for disease transmission. It can include large-scale measures like canceling group events or closing public spaces, as well as individual decisions such as avoiding crowds.
With COVID-19, the goal of social distancing right now is to slow down the outbreak in order to reduce the chance of infection among high-risk populations and to reduce the burden on health care systems and workers. Experts describe this as "flattening the curve," which generally refers to the potential success of social distancing measures to prevent surges in illness that could overwhelm health care systems.</p>
<p>
    The CDC defines social distancing as it applies to COVID-19 as "remaining out of congregrate settings, avoiding mass gatherings, and maintaining distance (approximately 6 feet or 2 meters) from others when possible."

It's particularly important—and perhaps obvious—to maintain that same 6-foot distance from anyone who is demonstrating signs of illness, including coughing, sneezing, or fever.

Along with physical distance, proper hand-washing is important for protecting not only yourself but others around you—because the virus can be spread even without symptoms.
</p>
</section>
<section id="helpline">
<h2 id="uu">
    HelpLine number
</h2>
    <a id="ups" href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf">Click to view</a>
</section>
	
    </body>
</html>