body{
    font-family: Arvo, serif;
    background: url(/assets/back.jpg) no-repeat center center ;
    background-attachment: fixed;
    background-size: cover; 
    
}

.aa{
    text-align: center;
    text-decoration: none;
    color: white;
}
.aa:hover{
    
    text-align: center;
    text-decoration: none;
    color: white;
}
.acc{
    background-color: rgba(0,0,0, 0.7);
    color: white;
padding: 10px;
margin: 0 auto;
margin-top: 10px;;
text-align: center;
width: 100%;
border: none;
border-bottom: royalblue;
}


    #uu{
        color:white;
        font-size: 50px;
        font-style: italic;
        padding: 7px;
        margin: 2px;
text-align: center;
    }
    .jumbotron{
background-color: rgba(0, 0,0,0.7);
height: 100%;
    }
    .container{
        margin-top: 100px;
    }

 
@media only screen and (max-width: 600px) {
    #uu{
        
            color:white;
            font-size: 30px;
            font-style: italic;
            padding: 7px;
            margin: 2px;
    text-align: center;
        }   
    
}
